<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Linux Process Explorer project</vendor>
  <vendor_url>http://sourceforge.net/projects/procexp/</vendor_url>

  <action id="com.procexp.pkexec.policy">
    <message>Please authenticate if you want root permissions, for process control and TCP/IP monitoring. If you press cancel, TCPIP statistiscs and root control are unavailable.</message>
    <icon_name>procexp</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/procexp/rootproxy/procroot.py</annotate>
  </action>

</policyconfig>
